:root {
  --font-size: 17px;
  --font-famaly: 'Consolas';
  --primary-color: #FFD831;
}

html, body, #root {
  height: 100%;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-famaly);
  letter-spacing: 1px;
}

