:root {
    --bg-color: #f3f6f9;
    --text-color: #1f2430;
    --font-size: 17px;
    --font-famaly: "Consolas";
    --primary-color: #ffd831;
    --modal-z-index: 100;
}

html,
body,
#root {
    height: 100%;
}

body {
    font-size: var(--font-size);
    font-family: var(--font-famaly);
    letter-spacing: 1px;
}
