.Button {
    background: var(--btn-color);
    color: var(--btn-text-color);
    display: inline-block;
    cursor: pointer;
    padding: 0 25px;
    line-height: 44px;
    max-height: 44px;
    text-align: center;
    border: 0;
    border-radius: 3px;

    &:hover {
        background: var(--primary-color);
        color: var(--btn-color);
    }

    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
}

.inline {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    line-height: 1;
    max-height: 20px;
    color: var(--btn-color);
    border-radius: 0;
    border-bottom: 1px solid var(--btn-color);

    &:hover {
        background: transparent;
        border-bottom-color: var(--primary-color);
    }
}

.clear {
    padding: 0;
    margin: 0;
    line-height: 1;
    min-height: auto;
    max-height: 20px;
    background: none;

    &:hover {
        background: transparent;
        border-color: transparent;
        color: var(--primary-color);
    }
}
