.Button {
    background: grey;
    display: inline-block;
    cursor: pointer;
    padding: 0 20px;
    line-height: 44px;
    max-height: 44px;
    text-align: center;
    border: 0;
}

.clear {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}
